@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Italic-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

main {
    width: 80%;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-1, .main-2 {
    display: flex;
    flex-direction: column;
    width: 48%;
    text-align: left;
    margin-top: 30px;
    border: 2px double green;
    border-radius: 10px;
    padding: 15px;  
}

img, main h1 {
    font-size: 70px;
    height: 60px;
    color: green;
    text-align: center;
}

.result-statement {
    height: 35px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.heightInput, .weightInput{
    width: 80%;
    height: 40px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.calculate, .calculate-1 {
    background-color: green;
    width: fit-content;
    height: 40px;
    text-align: left;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculate:hover, .calculate-1:hover {
    background-color: rgb(0, 163, 0);
    cursor: pointer;
}
.heightInput-1, .heightInput-1-1 {
    width: 40%;
    margin-right: 4%;
    height: 40px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}
.weightInput-1 {
    width: 85%;
    height: 40px;
    font-size: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    font-size: 20px;
}
.imperial-calculator {
    display: none;
}
.metric, .imperial {
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 5px;
    width: fit-content;
    margin-right: 5%;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: rgb(211, 210, 210);
}
.metric:hover, .imperial:hover {
    cursor: pointer;
}
@media only screen and (max-width: 730px) {
    main {
        width: 98%;
    }
    .main-1, .main-2 {
        width: 100%;      
    }
    img, main h1 {
        font-size: 32px;
    }
}
