@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Italic-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

main {
    width: 80%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-1, .main-2 {
    display: flex;
    flex-direction: column;
    width: 48%;
    text-align: left;
    margin-top: 10px;
    border: 2px double green;
    border-radius: 10px;
    padding: 15px;  
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin:  0 auto;
}
#header img {
    width: 100%;
}

.result-statement {
    height: 35px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.heightInput, .weightInput{
    width: 80%;
    height: 40px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}

.calculate, .calculate-1 {
    background-color: green;
    text-align: left;
    font-size: 22px;
    border-radius: 38px;
    margin-bottom: 10px;
    padding: 1px 12px;
    width: fit-content;
    height: fit-content;
    border: 2px solid green;
    font-weight: bold;
    letter-spacing: 2px;
}

.calculate:hover, .calculate-1:hover {
    background-color: #009600;
    cursor: pointer;
}
.heightInput-1, .heightInput-1-1 {
    width: 40%;
    margin-right: 4%;
    height: 40px;
    font-size: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
}
.weightInput-1 {
    width: 85%;
    height: 40px;
    font-size: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
    font-size: 20px;
}
.imperial-calculator {
    display: none;
}
.metric, .imperial {
    height: fit-content;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 3px 9px;
    width: fit-content;
    letter-spacing: 2px;
    margin-right: 5%;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
    background-color: rgb(211, 210, 210);
}
.metric:hover, .imperial:hover {
    cursor: pointer;
}
/* preloader */
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
.spinner{
    width: 80px;
    height: 80px;
    border: 7px solid #008000;
    border-radius: 50%;
    border-top: 7px solid red;
    border-bottom: 7px solid red;
    animation: spin .8s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}
@media only screen and (max-width: 730px) {
    main {
        width: 98%;
    }
    .main-1, .main-2, #header {
        width: 100%;      
    }
}
